<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main Page</title>
    <link rel="stylesheet" href="/css/common.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Main Page</a></li>
          <li><a href="/users">Users Page</a></li>
        </ul>
      </nav>
    </header>
    <h1>Main Page</h1>
    <p>Hello, welcome to the Main Page!</p>
  </body>
</html>
